<section
    class="settings-group"
    [class.settings-group--active]="activeSection() === 'tmdb'"
    id="tmdb"
    [formGroup]="form()"
>
    <header class="settings-group__header">
        <div class="settings-group__header-icon">
            <mat-icon>movie</mat-icon>
        </div>
        <div class="settings-group__header-text">
            <h3>{{ 'SETTINGS.TMDB' | translate }}</h3>
            <p>{{ 'SETTINGS.TMDB_DESCRIPTION' | translate }}</p>
        </div>
    </header>

    <div>
        <div class="setting-item setting-item--full-control">
            <div class="setting-item__meta">
                <img
                    src="assets/images/tmdb-logo.svg"
                    alt="TMDB"
                    style="height: 20px; margin-bottom: 8px"
                />
                <p>{{ 'SETTINGS.TMDB_ATTRIBUTION' | translate }}</p>
            </div>
        </div>
    </div>
</section>
